body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    font-family: 'Indie Flower', cursive;
    margin: auto;
}

img {
    height: 50px;
    width: 50px;
    border: 3px solid #652762;
    padding: 10px;
}


#logo {
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    background-color: #fff;
    height: 100px;
    width: 400px;
    text-align: center;
    padding-top: 50px;
    margin-top: 10px;
    border: 3px solid #652762;
    color: #652762;
}

#rules {
    color: black;
    font-size: 18px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    border: 3px solid #652762;
    color: #652762;
    width: 400px;

}

#container {
    height: 75px;
    width: 250px;
    background-color: white;
    border: 3px solid #652762;
    padding-top: 30px;
    padding-left: 30px;
    margin: 50px;
}